node_modules
elm-stuff
.DS_Store
.idea

# Guida
guida-stuff

# Main
lib/guida.node.js
lib/guida.node.min.js

# Browser
lib/guida.browser.js
lib/guida.browser.min.js

# Command line
bin/guida.js
bin/guida.min.js

# Try
try/public/app.js

# Assets
assets/some-application/index.html